:root {
  --dark: #232931;
  --light: #393e46;
  --contrast: #eeeeee;
  --highlight: #4ecca3;
}
html {
  height: 100vh;
}
body {
  background-color: var(--dark);
  padding: 0px;
  margin: 0px;
}
a:hover {
  text-decoration: none;
}
*:focus {
  outline: none;
}
.fill {
  flex-grow: 1;
}
.spacer {
  width: 10px;
  height: 10px;
}
.spacer50 {
  width: 50px;
  height: 20px;
}
.spacer100 {
  width: 100px;
  height: 100px;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 75px;
  width: 100%;
  background-color: var(--light);
  position: fixed;
  z-index: 5;
  top: 0px;
}
.navbar-header {
  color: var(--contrast);
}
.nav-button {
  background-color: var(--dark);
  border: solid var(--highlight) 3px;
  color: var(--contrast);
  border-radius: 10px;
  font-size: large;
  width: 100px;
  height: 40px;
}
.nav-button:hover {
  background-color: var(--light);
}
.content-text {
  color: var(--contrast);
}
.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  padding: 20px;
  margin-top: 75px;
}
.list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}
.search-field {
  background-color: var(--light);
  border-radius: 10px 0px 0px 10px;
  font-size: large;
  height: 40px;
  border: solid var(--highlight) 3px;
  color: var(--contrast);
  flex-grow: 1;
  margin-left: 10px;
}
.search-button {
  background-color: var(--dark);
  border: solid var(--highlight) 3px;
  color: var(--contrast);
  border-radius: 0px 10px 10px 0px;
  font-size: large;
  width: 100px;
  height: 40px;
  margin-right: 10px;
}
.search-button:hover {
  background-color: var(--light);
}
.hike-item {
  color: var(--light);
  border-radius: 10px;
  border: solid var(--highlight) 1px;
  padding: 10px;
  margin-top: 10px;
  width: 20vw;
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  background-color: var(--light);
  border: solid var(--highlight) 1px;
}
.map-title {
  color: var(--highlight);
  margin: 10px;
}
#map {
  height: 40vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px 0px 10px 10px;
  border: solid var(--highlight) 1px;
}
.feed-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.list {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  scrollbar-width: 10;
  -ms-overflow-style: none;
  box-sizing: border-box;
  overflow-y: auto;
  height: 80vh;
  padding-right: 5px;
}
.list::-webkit-scrollbar {
  -webkit-appearance: none;
}
.list::-webkit-scrollbar:vertical {
  width: 10px;
}
.list::-webkit-scrollbar-thumb {
  border-radius: 8px;
  height: 20px;
  border: 1px solid var(--highlight);
  background-color: var(--contrast);
}
.info-left {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: solid var(--highlight) 1px;
}
.info-right {
  width: 66%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.stats-title {
  color: var(--highlight);
  margin: 10px;
}
.stats {
  background-color: var(--light);
  border-radius: 10px;
  border: solid var(--highlight) 1px;
  margin-top: 20px;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stats-inner {
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  background-color: var(--dark);
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.stats-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  justify-content: space-around;
}
.stats-left {
  margin-top: -80px;
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.total-hikes-text {
  font-size: 8em;
  color: var(--contrast);
}
.stats-right {
  display: flex;
  flex-direction: column;
  width: 66%;
  height: 100%;
  justify-content: center;
}
.stats-text {
  color: var(--contrast);
  font-size: 1.8em;
}
.stats-text-gain {
  color: #228b22;
  font-size: 1.8em;
}
.stats-text-loss {
  color: #b22222;
  font-size: 1.8em;
}
.stats-text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  justify-content: space-around;
}
.row-center-max-height {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}
.row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center-text {
  color: var(--contrast);
  text-align: center;
}
.hike-entries {
  width: 50%;
  text-align: center;
  color: var(--light);
  border: solid var(--highlight) 1px;
  border-radius: 20px;
}
.hike-cols {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.hike-item-button-wrapper {
  min-height: 30px;
  text-align: right;
}
.description-headers {
  color: var(--contrast);
  text-decoration: underline;
}
.elevation-gain {
  color: #228b22;
}
.elevation-loss {
  color: #b22222;
}
.hike-txt-contents {
  color: var(--contrast);
}
.delete-button {
  background-color: var(--dark);
  border: solid var(--highlight) 1px;
  color: var(--contrast);
  border-radius: 5px;
}
.star {
  visibility: hidden;
  font-size: 30px;
  height: 50px;
  margin-top: -10px;
  margin-right: 10px;
  content: "\2605";
  color: #4ecca3;
}
.star:before {
  content: "\2605";
  visibility: visible;
  color: #4ecca3;
}
