{% extends "dashboard.html" %} {% block content %} {% for hike in hikes %}
<a href="feed/{{hike.id}}/">
<div class="hike-item">
  <h4 class="content-text">Hike: {{hike.id}}</h4>
  <p class="content-text">
    <style type="text/css">
      <!--
      a:hover {text-decoration: none}
      -->
      </style>
    Total distance: {{hike.miles}} miles <br />Total elevation gain:
    {{hike.elevationGain}} feet <br />Total elevation loss:
    {{hike.elevationLoss}} feet <br />Description: {{hike.description}}
    <br />Starred: {{hike.starred}}<br />
    <img src="{{hike.image.url}}" alt="img">
  </p>
</div>
</a>
{% endfor %} {% endblock %}
