{% extends "dashboard.html" %} {% block content %}
<div class="feed-wrapper">
  <div class="list">
    <h3 class="map-title">Hike Entries</h3>
    {% for hike in hikes %}
    <a href="feed/{{hike.id}}/">
      <div class="hike-item">
        <h4 class="content-text">Hike: {{hike.id}}</h4>
        <p class="content-text">
          Distance: {{hike.miles}} miles <br />Elevation gain:
          {{hike.elevationGain}} feet <br />Elevation loss:
          {{hike.elevationLoss}} feet <br />Description: {{hike.description}}
          <br />Starred: {{hike.starred}}
        </p>
      </div>
    </a>
    {% endfor %}
  </div>
  <div class="info">
    <h3 class="map-title">Hike Map</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = { lat: -25.344, lng: 131.036 };
        var map = new google.maps.Map(document.getElementById("map"), {
          zoom: 10,
          center: uluru,
        });
        var marker = new google.maps.Marker({ position: uluru, map: map });
      }
    </script>
    <script
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC323TW3StvvPi9Nqpm_XqaIFOBJDp4O1I&callback=initMap"
    ></script>
    <h3 class="stats-title">Statistics</h3>
    <div class="stats">
      <div class="col-center">
        <h3 class="content-text">Total Miles Hiked</h3>
        <h3 class="content-text">{{total_miles}}</h3>
      </div>
      <div class="col-center">
        <h3 class="content-text">Total Feet Climbed</h3>
        <h3 class="content-text">{{total_elevation_gain}}</h3>
      </div>
      <div class="col-center">
        <h3 class="content-text">Total Feet Dropped</h3>
        <h3 class="content-text">{{total_elevation_loss}}</h3>
      </div>
    </div>
  </div>
</div>
{% endblock %}
